
<div class="row mb-6">
  <div class="col-md-3">
    

  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} </p>
    <p>{{format_date date_created}}</p>
  <button  id="rsvpButton" >
    <a class="d-flex justify-content-center links"><img src="https://i.ibb.co/YyRS84M/RSVP.png"></a>
  </button>
  <div >Current RSVPs: <p id="rsvpCounter">{{rsvp}}</p></div>
</div>
</div>
</div>


<script src="/js/project.js"></script>